@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";

/* reset */
button {
  all: unset;
}

h1 {
  color: var(--text-text, #212121);
  color: var(--text-text, color(display-p3 0.1294 0.1294 0.1294));

  /* header - desktop/heading-4 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
}

.container {
  width: 720px;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  border-radius: 4px;
  background: #fff;
  background: color(display-p3 1 1 1);

  /* spread/shadow-spread-sm */
  box-shadow: 0px 1px 3px 0px rgba(33, 33, 33, 0.04),
    0px 6px 6px 0px rgba(33, 33, 33, 0.03),
    0px 13px 8px 0px rgba(33, 33, 33, 0.02),
    0px 23px 9px 0px rgba(33, 33, 33, 0.01), 0px 36px 10px 0px #212121,
    0px 0px 0px 0.5px rgba(33, 33, 33, 0.08);
  box-shadow: 0px 1px 3px 0px color(display-p3 0.1294 0.1294 0.1294 / 0.04),
    0px 6px 6px 0px color(display-p3 0.1294 0.1294 0.1294 / 0.03),
    0px 13px 8px 0px color(display-p3 0.1294 0.1294 0.1294 / 0.02),
    0px 23px 9px 0px color(display-p3 0.1294 0.1294 0.1294 / 0.01),
    0px 36px 10px 0px color(display-p3 0.1294 0.1294 0.1294 / 0),
    0px 0px 0px 0.5px color(display-p3 0.1294 0.1294 0.1294 / 0.08);
}

.DropdownMenuContent,
.DropdownMenuSubContent {
  border-radius: 4px;
  background: #fff;
  display: flex;
  width: 250px;
  padding: 8px;
  flex-direction: column;
  align-items: start;
  gap: 4px;
  box-shadow: 0px 0.996px 3.957px 0px rgba(44, 57, 68, 0.01),
    0px 2.394px 9.51px 0px rgba(44, 57, 68, 0.02),
    0px 4.508px 17.906px 0px rgba(44, 57, 68, 0.02),
    0px 8.041px 31.941px 0px rgba(44, 57, 68, 0.03),
    0px 15.04px 59.742px 0px rgba(44, 57, 68, 0.03),
    0px 36px 143px 0px rgba(44, 57, 68, 0.05), 0px 0px 0px 0.5px #c5ccd3;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side="top"],
.DropdownMenuSubContent[data-side="top"] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side="right"],
.DropdownMenuSubContent[data-side="right"] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side="bottom"],
.DropdownMenuSubContent[data-side="bottom"] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side="left"],
.DropdownMenuSubContent[data-side="left"] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: 13px;
  line-height: 1;
  color: #2a3337;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
  width: 100%;
}
.DropdownMenuSubTrigger[data-state="open"] {
  background-color: var(--violet-4);
  color: #2a3337;
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: #f3f5f6;
  color: #2a3337;
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--violet-6);
  margin: 5px;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownButton {
  display: flex;
  min-width: 234px;
  padding: 8px;
  align-items: center;
  justify-content: space-between;
  color: #2a3337;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  border-radius: 4px;
  border: 0.5px solid #8f9da8;
  background: #fff;
  box-shadow: 0px 0.5px 2px 1px rgba(42, 51, 55, 0.03),
    0px 0px 1px 0.5px rgba(42, 51, 55, 0.06);
}
.DropdownButton:hover {
  /* background-color: var(--violet-3); */
}
.DropdownButton:focus {
  box-shadow: 0 0 0 2px black;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve-11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve-8);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.SpecialInput {
  border-radius: 4px;
  border: 0.5px solid #8f9da8;
  background: #fff;
  padding: 8px;
  color: #2a3337;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  box-shadow: 0px 0.5px 2px 1px rgba(42, 51, 55, 0.03),
    0px 0px 1px 0.5px rgba(42, 51, 55, 0.06);
}
